* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

ul, li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
}

.header {
  background-color: #79B9D8;
  padding: 20px;
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "search navbar" "user buttons";
  align-items: center;
}
.header .search {
  grid-area: search;
}
.header .search input {
  width: 80%;
  border-radius: 20px;
  outline-style: none;
  padding: 5px 10px;
  margin-left: 20px;
}
.header .user {
  grid-area: user;
  display: flex;
  gap: 50px;
  align-items: center;
}
.header .user img {
  height: 60px;
}
.header .user .user-info h4 {
  font-size: 1.4rem;
}
.header .navbar {
  grid-area: navbar;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.header .navbar img {
  height: 40px;
}
.header .navbar .alerts {
  font-size: 1.5rem;
}
.header .navbar .profile-name {
  font-size: 1.1rem;
  font-weight: bold;
}
.header .action-buttons {
  justify-self: end;
  grid-area: buttons;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header .action-buttons button {
  width: 120px;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: skyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar {
  padding: 30px;
  background-color: #5B8CBC;
  grid-area: sidebar;
  font-weight: bold;
  color: #EAE6E7;
  font-size: 1.3rem;
}

.sidebar > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  gap: 100px;
}
.sidebar > div ul {
  display: grid;
  gap: 20px;
}
.sidebar > div ul li {
  display: flex;
  gap: 10px;
}
.sidebar > div ul li .logo img {
  height: 50px;
}
.sidebar > div ul li .logo-name {
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

main {
  background-color: #6497b1;
  padding: 20px;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 40px;
}
main h1 {
  color: #EAE6E7;
}

main .projects {
  padding: 0 20px;
}
main .projects article {
  margin-top: 20px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
main .projects article .card {
  background-color: #EAE6E7;
  height: 200px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: -10px 0px 0px 0px rgba(56, 23, 70, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .projects article .card .icons {
  font-size: 1.4rem;
  display: flex;
  justify-content: end;
}
main .projects article .card .icons i {
  margin-left: 10px;
}

main .lateral {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 40px;
  padding: 5px;
  font-size: 0.8rem;
}
main .lateral .announcements {
  margin-top: 20px;
  background-color: #EAE6E7;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.26);
}
main .lateral .announcements .announce {
  padding: 20px 0;
  border-bottom: 2px solid black;
}
main .lateral .trending {
  margin-top: 20px;
  background-color: #EAE6E7;
  padding: 30px;
  border-radius: 10px;
  display: grid;
  gap: 20px;
  font-size: 1rem;
  box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.26);
}
main .lateral .trending .influencer {
  display: flex;
  gap: 30px;
}
main .lateral .trending .influencer .icon {
  border: 1px solid black;
  border-radius: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
main .lateral .trending .influencer .icon img {
  width: 100%;
  height: 40px;
}/*# sourceMappingURL=style.css.map */